//$navbar-height: 96px;

$progress-border-radius: none;
$navbar-default-toggle-border-color: none;
$navbar-default-toggle-hover-bg: none;
$navbar-default-toggle-icon-bar-bg: material-color('blue-grey');